---
- name: Set Hostname
  shell: 'hostname {{ conductr_ip }}'
  become: yes
  become_method: sudo

- name: Install add-apt-repostory
  apt: name=software-properties-common state=latest update_cache=yes

- name: Add HAProxy Repository
  apt_repository: repo='ppa:vbernat/haproxy-1.5'

- name: Install HAProxy
  apt: name=haproxy state=latest

